<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="poiGroup">
      <h2 data-cy="poiGroupDetailsHeading"><span jhiTranslate="tiskelGeocoderApp.poiGroup.detail.title">Poi Group</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ poiGroup.id }}</span>
        </dd>
        <dt><span jhiTranslate="tiskelGeocoderApp.poiGroup.name">Name</span></dt>
        <dd>
          <span>{{ poiGroup.name }}</span>
        </dd>
        <dt><span jhiTranslate="tiskelGeocoderApp.poiGroup.prefix">Prefix</span></dt>
        <dd>
          <span>{{ poiGroup.prefix }}</span>
        </dd>
        <dt><span jhiTranslate="tiskelGeocoderApp.poiGroup.active">Active</span></dt>
        <dd>
          <span>{{ poiGroup.active }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/poi-group', poiGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
